<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <title>Weather Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="WeatherController">
      <h1>Weather Dashboard</h1>
      <input type="text" ng-model="city" placeholder="Enter city">
      <button ng-click="getWeather()">Get Weather</button>

      <div ng-if="weather">
        <h2>{{ weather.name }} Weather</h2>
        <p>Temperature: {{ weather.main.temp }} °C</p>
        <p>Humidity: {{ weather.main.humidity }}%</p>
        <p>Conditions: {{ weather.weather[0].description }}</p>
      </div>
      <!-- Favorite Cities Section -->
<h3>Favorite Cities</h3>
<ul>
  <li ng-repeat="city in favoriteCities | orderBy:'name'">
    {{ city.name }} - {{ city.weather.main.temp }} °C
  </li>
</ul>

<button ng-click="addToFavorites(weather)">Add to Favorites</button>


      <div ng-if="error">
        <p>{{ error }}</p>
      </div>
    </div>
  </body>
</html>
